<h2>Contact List</h2>
<div class="row">
  <div class="col-md-8">
    <hr />

    <a href="/add" class="btn btn-primary mb-3">Add new Contact</a>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email Address</th>
          <th scope="col">Phone Number</th>
          <th scope="col">More</th>
        </tr>
      </thead>
      <tbody>
        <td colspan="5">No contact in list.</td>
      </tbody>
    </table>
  </div>
</div>
